.container {
	width:400px;
	height: 600px;
	border:1px solid #ccc;
	background:#f8f8f8;
	margin:10% auto;
	border-radius:6px;
}

/* Progress bar */
.progress-container {
	width:265px;
	height:51px;
	background:url(../img/selection_bar.png) no-repeat;
	margin:10px auto;
}



.item-number {
	display:block;
	position:absolute;
	z-index:5;
	height:51px;
	font-size:27px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	color:#555555;
	padding-top:9px;
	margin-left:32px;
}

.item-number:nth-child(2) {
	margin-left:121px;
}

.item-number:nth-child(3) {
	margin-left:208px;
}

/*main content*/
.main-content {
	width:360px;
	padding:20px;
	height:459px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
}

.content-switcher {
	display:none;
	
}

.content-switcher:first-child {
	display:block;
}



